<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Feel Free To Contact Us:
    <form method="post">
      {% csrf_token %}
        <br/>
        <div class="form-group">
          <label for="exampleInputEmail1">email</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <br/>
       
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>